{
    "name": "{{theme.name}}",
    "version": "0.1.0",
    "description": "",
    "private": true,
    "repository": "",
    "author": "",
    "devDependencies": {
        "browser-sync": "*",
        "gulp": "*",
        "gulp-{{theme.settings.front_end_tools.css_preprocessor}}": "*",
        "gulp-uglify": "*",
        "gulp-uglifycss": "*",
        "webpack-stream": "*"
    }
}