<?php

$labels = [
	'name' => __('{{taxonomy.labels.name}}', '{{taxonomy.theme.slug}}'),
    'singular_name' => __('{{taxonomy.labels.singular_name}}', '{{taxonomy.theme.slug}}'),
    'menu_name' => __('{{taxonomy.labels.menu_name}}', '{{taxonomy.theme.slug}}'),
    'all_items' => __('{{taxonomy.labels.all_items}}', '{{taxonomy.theme.slug}}'),
    'edit_item' => __('{{taxonomy.labels.edit_item}}', '{{taxonomy.theme.slug}}'),
    'view_item' => __('{{taxonomy.labels.view_item}}', '{{taxonomy.theme.slug}}'),
    'update_item' => __('{{taxonomy.labels.update_item}}', '{{taxonomy.theme.slug}}'),
    'add_new_item' => __('{{taxonomy.labels.add_new_item}}', '{{taxonomy.theme.slug}}'),
    'new_item_name' => __('{{taxonomy.labels.new_item_name}}', '{{taxonomy.theme.slug}}'),
    'parent_item' => __('{{taxonomy.labels.parent_item}}', '{{taxonomy.theme.slug}}'),
    'parent_item_colon' => __('{{taxonomy.labels.parent_item_colon}}', '{{taxonomy.theme.slug}}'),
    'search_items' => __('{{taxonomy.labels.search_items}}', '{{taxonomy.theme.slug}}'),
    'popular_items' => __('{{taxonomy.labels.popular_items}}', '{{taxonomy.theme.slug}}'),
    'separate_items_with_commas' => __('{{taxonomy.labels.separate_items_with_commas}}', '{{taxonomy.theme.slug}}'),
    'add_or_remove_items' => __('{{taxonomy.labels.add_or_remove_items}}', '{{taxonomy.theme.slug}}'),
    'choose_from_most_used' => __('{{taxonomy.labels.choose_from_most_used}}', '{{taxonomy.theme.slug}}'),
    'not_found' => __('{{taxonomy.labels.not_found}}', '{{taxonomy.theme.slug}}'),
];

$options = [
    'hierarchical' => FALSE,
    'show_ui' => TRUE,
    'show_admin_column' => TRUE,
    'update_count_callback' => '_update_post_term_count',
    'query_var' => TRUE,
    'rewrite' => ['slug' => __('{{taxonomy.slug}}', '{{taxonomy.theme.slug}}')],
    'labels' => $labels
];

register_taxonomy('{{taxonomy.slug}}', array({{#taxonomy.postTypes}}'{{slug}}',{{/taxonomy.postTypes}}), $options);