<?php

get_header();

if (have_posts()):

    the_post();
    ${{postType.id}} = get_post();
    {{#metas}}
    ${{postType.id}}_{{id}} = get_post_meta($post->ID, '{{id}}', true);
    {{/metas}}

endif;

get_footer();