$meta = get_post_meta($post->ID, '{{id}}', {{isSingle}});
{{#isSingle}}
echo '<input name="{{postType.slug}}[{{slug}}]" type="text" style="width: 100%;" value="' . $meta . '" />';
{{/isSingle}}
{{^isSingle}}
foreach ($meta as $meta_item) {
    echo '<input name="{{postType.slug}}[{{slug}}][]" type="text" style="width: 100%;" value="' . $meta_item . '" />';
}
echo '<input name="{{postType.slug}}[{{slug}}][]" type="text" style="width: 100%;" placeholder="' . __('New Value', '{{theme.slug}}') . '" />';
{{/isSingle}}