{{#isKeyValue}}
delete_post_meta_by_key('{{id}}');
foreach($_POST['{{postType.slug}}']['{{slug}}']['key'] as $index => $meta) {
    if (!empty($meta)) {
        add_post_meta($post_id, '{{id}}', $meta . '[:]' . $_POST['{{postType.slug}}']['{{slug}}']['value'][$index]);
    }
}
{{/isKeyValue}}
{{^isKeyValue}}
delete_post_meta($post_id, '{{id}}');
foreach($_POST['{{postType.slug}}']['{{slug}}'] as $meta) {
    if (!empty($meta)) {
        add_post_meta($post_id, '{{id}}', $meta);
    }
}
{{/isKeyValue}}